<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars App</title>
</head>

<body>
    <h1>Welcome to the Cars app!</h1>
    <p>An app for collecting your favorite Cars.</p>
    <a href="/cars">Browse Cars</a>
</body>

</html>