<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars Index</title>
</head>

<body>
    <h1>All Cars</h1>
    <a href="/cars/add">Add New Car</a>
    <ul>
        <% allCars.forEach(car=> { %>
            <li>
                <a href="/cars/<%= car._id %>">
                    <%= car.name %>
                </a>
            </li>
            
            <% }); %>
    </ul>
</body>

</html>